---
---

@import "{{ site.theme }}";

table { 
    border: none;
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow:auto;
    border: none;
}

.markdown-body table tr:nth-child(2n) {
    background-color:#ffffff
}
